PORT=3000
NODE_ENV=development

TIMBAL_PROJECT_ID=

# The following can be configured using: timbal configure --profile <PROFILE_NAME>
# - TIMBAL_ORG_ID
# - TIMBAL_API_KEY (for auth in local development)
# - TIMBAL_API_BASE_URL